{% extends 'base.html.twig' %}

{% block title %}New Infirmier{% endblock %}

{% block body %}
    <h1>Create new Infirmier</h1>

    {{ include('infirmier/_form.html.twig') }}

    <a href="{{ path('infirmier_index') }}">back to list</a>
{% endblock %}
